pandas 
from_root
pymongo
certifi
scikit-learn
PyYAML
transformers
python-box
matplotlib
Seaborn
datasets
sentencepiece
tensorflow[torch]
transformers[sentencepiece]

# quanto
# pefttransformers
# git+https://github.com/huggingface/transformers
tf-keras
fastapi==0.78.0
uvicorn==0.18.3
Jinja2==3.1.2
-e .