pandas 
from_root
pymongo
certifi
scikit-learn
PyYAML
transformers
python-box
matplotlib
Seaborn
datasets
sentencepiece
[torch]
transformers[sentencepiece]
tensorflow
# quanto
# pefttransformers
# git+https://github.com/huggingface/transformers
tf-keras
-e .